.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 10px;

}

.leftSideWrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;

}

.imageCircle {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   width: 62px;
   height: 62px;
   border: 3px solid #A29BFE35;

}

.jobbed {
   border: none;
   background: rgb(0, 206, 201);
   background: linear-gradient(145deg, rgba(0, 206, 201, 1) 0%, rgba(255, 204, 0, 1) 68%, rgba(223, 230, 233, 1) 100%);
}

.userImage {
   padding: 0.2rem;
   background-color: #fff;
   border-radius: 50%;
   width: 50px;
   height: 50px;
}

.userInfo {
   display: flex;
   flex-direction: column;
   gap: 5px;
   color: #2D3436;
   font-family: "Inter", sans-serif;
   font-size: 18px;
   line-height: 18px;
}

.userName {}

.userJob {
   color: #FDCB6E;
}

.more {
   padding: 0 10px;
}